body {
    background-color: rgb(212, 212, 166);
    font-weight: 600;
}

form {
    border-radius: 20px;
}

label {
    border-radius: 20px;
    ;
}

input {
    border-radius: 5px;
    ;
}

input:active {
    background: rgb(255, 208, 1)
}

* {
    font-family: poppins;
}

button {
    font-size: 0.8em;
    background-color: rgb(255, 208, 0);
    font-weight: 600;
}